body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 35px;
    font-size: 22px;
}

nav {
    background: #333;
    padding: 18px;
    text-align: center;
}

nav a {
    color: white;
    margin: 25px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    width: 90%;
    max-width: 1100px;
    margin: 35px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    font-size: 18px;
    line-height: 1.6;
}

.project-img {
    width: 100%;
    border: 3px solid #444;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    margin-top: 40px;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
