/* GLOBAL */
html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background: #101114;
    color: #f5f5f5;
}

/* HEADER */
header {
    text-align: center;
    padding: 34px 16px 26px;
    background: #16171b;
    border-bottom: 1px solid #262730;
}
header h1 { font-size: 28px; margin: 0; }
header p { margin-top: 8px; color: #cdcdcd; }

/* NAV */
nav {
    background: #16171b;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    gap: 14px;
    border-bottom: 1px solid #262730;
}
nav a {
    text-decoration: none;
    color: #e5e5e5;
    padding: 7px 16px;
    border-radius: 999px;
    font-weight: 600;
    transition: 0.25s;
}
nav a:hover { background: #272830; color: white; }

/* PAGE */
section {
    width: 92%;
    max-width: 900px;
    margin: 40px auto;
}

/* CARD */
.card {
    background: #1a1b20;
    border: 1px solid #2b2c34;
    padding: 26px;
    margin: 35px auto;
    border-radius: 18px;
    transition: 0.35s;
    box-shadow: 0 12px 30px rgba(0,0,0,0.55);
}
.card:hover {
    transform: translateY(-10px);
    border-color: #ffffffcc;
    box-shadow: 0 0 14px rgba(255,255,255,0.45), 0 0 24px rgba(255,255,255,0.3);
}

/* REMOVE DOT IN SUMMARY */
summary { list-style: none; cursor: pointer; }
summary::-webkit-details-marker { display: none; }

/* DROPDOWN */
details summary {
    background: #ffffff10;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #ffffff30;
    display: inline-block;
    margin-top: 14px;
    font-weight: 600;
    transition: 0.25s;
}
details summary:hover {
    background: #ffffff20;
    transform: translateY(-2px);
}

details[open] summary {
    background: #ffffff30;
}

.algo-box {
    background: #111217;
    border: 1px solid #2b2c34;
    border-radius: 12px;
    margin-top: 14px;
    padding: 20px;
}

pre {
    white-space: pre-wrap;
    color: white;
    font-size: 14px;
}

/* FOOTER */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 14px;
    background: #16171b;
    color: #b4b6c2;
    border-top: 1px solid #262730;
}
